@use "variable";

div.book {
    display: flex;
    height: 50px;
    background-color: variable.$accent-color;
    border: 2px solid variable.$border-color;
}
div.book h5 {
    padding-left: 10px;
    align-self: center;
}
div.book a {
    align-self: center;
}