@use "variable";

header {
    display: flex;
    background-color: variable.$accent-color;
    color: variable.$contrast-color;
    height: 100px;

    img.logo {
        position: relative;
        padding: 10px;
    }

    h1 {
        align-self: center;
    }

    a {
        margin-left: 50px;
        display: flex;
    }

    a button {
        align-self: center;
    }
    a.title {
        text-decoration: none;
        color: white;
        margin: 0px;
    }

    .logo-dash {
        margin: 0px;
        padding: 0px;
    }

}