@use "variable";
* {
    padding: 0px;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: variable.$main-color;
    color: variable.$contrast-color;
}
main {
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
}